code {
  font-size: $baseFontSize;
  color: #54a847;
}

pre {

  & > code {
    display: block;
    overflow-y: auto;
    font-size: $baseFontSize - 2px;
    color: inherit;
  }

  .variable,
  .attribute,
  .tag,
  .regexp,
  .lang-xml .tag .title,
  .lang-xml .pi,
  .lang-xml .doctype,
  .lang-html .doctype,
  .lang-css .id,
  .lang-css .class,
  .lang-css .pseudo {
    color: #c82829;
  }

  .number,
  .preprocessor,
  .built_in,
  .literal,
  .params,
  .constant {
    color: #f5871f;
  }

  .string,
  .value,
  .inheritance,
  .header,
  .lang-xml .cdata {
    color: #718c00;
  }

  .comment {
    color: #999;
  }

  .css .hexcolor {
    color: #3e999f;
  }

  .function,
  .lang-javascript .title,
  .lang-coffeescript .title {
    color: #4271ae;
  }

  .keyword,
  .lang-javascript .function {
    color: #8959a8;
  }

}