nav {

  display: block;
  color: #fff;
  background-color: $accentColor;
  padding-top: .5em;
  overflow: hidden;
  top: 0;
  bottom: 0;
  height: 5.5em;

  ul {
    padding: 0;
    list-style-type: none;
    margin-left: 0;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: .8em;
    z-index: 1;
  }

  ul li {
    display: inline-block;
  }

  ul ul {
    display: none;
    font-size: 0.8em;
  }

  a {
    transition: all ease-in-out .25s;
    transition-property: background-color, color, opacity;
  }

  li a {
    display: inline-block;
    color: #fff;
    padding: 1.2em 1.6em;
    text-decoration: none;
    position: relative;

    &:hover {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:after {
      position: absolute;
      left: 50%;
      margin-left: -0.2em;
      bottom: 0.35em;
      content: "\2022";
      transition: all 300ms ease;
      transition-property: opacity, text-shadow;
      opacity: 0;
      font-size: 0.7em;
    }

    &:hover:after {
      opacity: 1;
      text-shadow: 0.8em 0 0 #fff, -0.8em 0 0 #fff;
    }
  }

  ul ul a {
    padding-left: 45px;
  }

  .social {
    text-align: center;
    position: absolute;
    right: 0;
    top: .8em;
    padding: 0.8em 1.6em;
    z-index: 2;

    a {
      display: inline-block;
      height: 2em;
      width: 2em;
      margin-right: 0.25em;
      border-radius: 2em;
      opacity: 0.5;
      text-indent: -9999px;
      &:hover {
        opacity: 1;
      }
    }

    .twitter {
      @include twitter-badge;
    }

    .github {
      @include github-badge;
    }

    .flickr {
      @include flickr-badge;
    }

    .rss {
      @include rss-badge;
    }

  }

}

nav a.name {
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.name h1 {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  width: 80px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

nav img {
  margin: 0 1em;
  height: 64px;
  width: 64px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 45px;
}