@charset "utf-8";

@import "css/mixins";
@import "css/sprites";

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: $bgColor;
  @include sansSerifFont;
  line-height: 1.4;
  font-size: $baseFontSize;
}

// Base Styles
a,
a:visited {
  color: $linkColor;
  text-decoration: none;
}

a:hover {
  color: darken($linkColor, 15%);
}

ul {
  margin: 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

@import "css/nav";
@import "css/content";
@import "css/responsive";
@import "css/code";