.content {
  width: 100%;
  padding: 2em;
  position: relative;

  date,
  .year {
    color: rgb(118, 118, 118);
  }

  .year {
    position: relative;
    &:after {
      display: block;
      content: "";
      border-bottom: 1px dotted rgba(0, 0, 0, .2);
      position: absolute;
      width: 100%;
      top: 50%;
    }
  }

  .year span {
    position: relative;
    background-color: #fff;
    padding-right: .5em;
    z-index: 1;
  }
}

.content > .title {
  font-size: 2em;
  margin-top: 0;
  font-weight: 300;
}

.posts {
  date {
    float: right;
  }
}

@media (max-width: 35em) {
  .posts date {
    display: block;
    font-size: .75em;
    float: none;
  }
}

.post a {
  text-decoration: underline;
}

.pagination {
  overflow: hidden;
  margin-top: 1em;
  border-top: 1px solid rgba(0, 0, 0, .2);
}

.prev,
.next {
  width: 50%;
  padding: 1.5em;
  font-size: .9em;
  position: relative;
}

.prev {
  float: left;
  text-align: left;
}

.next {
  float: right;
  text-align: right;
}

.prev:before,
.next:after {
  position: absolute;
  font-size: 1.2em;
  top: 1.1em;
  color: #000;
  opacity: .5;
}

.prev:before {
  content: "«";
  left: .4em;
}

.next:after {
  content: "»";
  right: .4em;
}

.social {
  padding-top: 2em;
  text-align: center;
}

pre {
  background-color: #f9f9f9;
  padding: 1em;
  border-radius: 6px;
  @include monospaceFont;
}

footer {
  padding-top: 3em;
  font-size: .8em;
  opacity: .8;
}

.video-wrapper {

  position: relative;
  padding: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  width: 100%;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}
