// Colors
$bgColor: #fff;
$accentColor: #3f5660;
$linkColor: #308095;

// Grayscale
$gray-100: #f9f9f9;
$gray-200: #e0e0e0;
$gray-300: #c7c7c7;
$gray-400: #aeaeae;
$gray-500: #959595;
$gray-600: #7d7d7d;
$gray-700: #646464;
$gray-800: #4b4b4b;
$gray-900: #1c1c1c;

// Layouts
$baseMargin: 1em;
$baseWidth: 70em;
$rightColWidth: 50em;

// z-indexes
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;

$baseFontSize: 16px;

// Fonts
@mixin sansSerifFont {
  font-family: "Noto Sans", sans-serif;
}

@mixin monospaceFont {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}