{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "extends": ["@scurker"],
  "rules": {
    "no-console": "off"
  },
  "globals": {
    "CACHE_VERSION": true,
    "STATIC_ASSETS": true
  }
}