<div class="pagination">
  {{~#if previous.title}}
  <a class="prev" href="{{previous.path}}">{{previous.title}}</a>
  {{~/if}}
  {{~#if next}}
  <a class="next" href="{{next.path}}">{{next.title}}</a>
  {{~/if}}
</div>