<div class="post--pagination">
  {{~#if previous.title}}
  <a class="post--prev" href="/{{previous.path}}">{{previous.title}}</a>
  {{~/if}}
  {{~#if next}}
  <a class="post--next" href="/{{next.path}}">{{next.title}}</a>
  {{~/if}}
</div>