body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  background-color: rgba(0, 0, 0, .1);
  margin: 2em;
}

.fn {
  margin-top: 0;
  font-size: 3em;
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  padding: .5em;
  float: left;
  text-align: center;
  font-weight: 400;
}

.hresume {
  width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2em;
}

h2 {
  font-size: 1.3em;
  padding: .5em;
  color: #fff;
  background-color: #717171;
  font-weight: 200;
}

section {
  clear: both;
  font-size: 14px;
}

address {
  float: right;
  text-align: right;
  line-height: 1.5em;
  color: rgba(0, 0, 0, .6);
}

a {
  color: #24e;
}

section > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li.experience {
  margin-top: 1.25em;
  display: flex;
  flex-wrap: wrap;
}

.experience ul {
  margin-top: .6em;
}

h3, h4 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 600;
  display: inline-block;
}

h4 {
  font-weight: 400;
  color: #717171;
  padding-left: .3em;
}

.experience h4:before {
  content: " at ";
}

date {
  display: block;
  font-style: italic;
  align-self: flex-end;
  flex: 1;
  text-align: right;
  line-height: 1.4285;
}

.skills ul li {
  display: inline-block;
}

.skills ul li:not(:last-child):after {
  content: ",";
}

.skills ul li:not(:first-child) {
  padding-left: .3em;
}

.skills ul {
  margin-top: .6em;
  margin-bottom: .6em;
}

.education {
  display: flex;
  flex-wrap: wrap;
}

.education h2 {
  width: 100%;
}

li.vevent {
  list-style-type: circle;
  margin-left: 1.5em;
}

li.vevent + li.vevent {
  margin-top: .5em;
}

li.vevent small {
  display: block;
  opacity: .6;
}

footer {
  text-align: center;
  font-size: .85em;
  margin-top: 1em;
}

@media print {

  a {
    text-decoration: none;
    color: rgba(0, 0, 0, .9);
  }

  body {
    margin: 0;
    padding: 0;
    background-color: none;
  }

  .hresume {
    padding: 1em;
  }

  .experience {
    page-break-inside: avoid;
  }

  section {
    page-break-inside: avoid;
  }

  h1,
  h2 {
    -webkit-print-color-adjust: exact;
  }

}