body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  background-color: rgba(0, 0, 0, .1);
  margin: 2em;
}

.fn {
  margin-top: 0;
  font-size: 3em;
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  padding: .5em;
  float: left;
  text-align: center;
  font-weight: 400;
}

.hresume {
  width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2em;
}

h2 {
  padding: .5em;
  color: #fff;
  background-color: rgba(0, 0, 0, .3);
  text-shadow: -1px 0 rgba(0, 0, 0, .25);
  font-weight: 200;
}

section {
  clear: both;
}

address {
  float: right;
  text-align: right;
  line-height: 1.5em;
  color: rgba(0, 0, 0, .6);
}

a {
  color: #64e;
}

section > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li.experience {
  margin-top: 2em;
}

h3, h4 {
  margin: 0;
  float: left;
  font-size: 1.2em;
  font-weight: 600;
}

h4 {
  font-weight: 400;
  opacity: .4;
  display: inline-block;
  padding-left: .3em;
}

.experience h4:before {
  content: " at ";
}

date {
  display: block;
  clear: both;
  padding: .5em 0;
  font-style: italic;
  font-size: .9em;
}

.skills {
  overflow: hidden;
}

.skills li {
  display: inline-block;
  float: left;
  width: 25%;
  margin-top: .3em;
}

li.vevent {
  list-style-type: circle;
  margin-left: 1.5em;
}

li.vevent + li.vevent {
  margin-top: .5em;
}

li.vevent small {
  display: block;
  opacity: .6;
}

footer {
  text-align: center;
  font-size: .85em;
  margin-top: 1em;
}

@media print {

  body {
    margin: 0;
    padding: 0;
    background-color: none;
  }

  .hresume {
    padding: 1em;
  }

  .experience {
    page-break-inside: avoid;
  }

  h1,
  h2 {
    -webkit-print-color-adjust: exact;
  }

}