{{!< layout.hbs }}
<h2 class="title">{{page.title}}</h2>
<date>{{date page.date "D MMM YYYY"}}</date>
<section class="post">
  {{{page.html}}}
</section>

<section class="social">
  {{> social}}
</section>

{{{pagination}}}

<section class="comments">
  {{> comments}}
</section>