<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <meta name="author" content="{{author}}"/>
  <meta name="description" content="{{description}}"/>
  <title>{{name}}</title>
</head>
<body>
  <nav role="navigation">
    <a class="name" href="/">
      <img src="/images/profile.png"/>
      <h1>jason wilson</h1>
    </a>
    <div class="social">
      <a class="twitter" href="https://twitter.com/scurker">twitter</a>
      <a class="flickr" href="https://flickr.com/scurker">flickr</a>
      <a class="github" href="https://github.com/scurker">github</a>
      <a class="rss" href="/feed">rss</a>
    </div>
    <ul>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/projects">Projects</a>
        <ul>
          <li><a href="https://github.com/scurker/currency.js">currency.js</a></li>
          <li><a href="http://tivtrackr.com">tivtrackr</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="content" role="main">
    {{{body}}}
    <footer>
      Built with ♥ by Jason Wilson. Everything you see is available on <a href="https://github.com/scurker/scurker.com">Github</a> under the <a href="https://github.com/scurker/scurker.com/blob/master/license">MIT license</a>.
    </footer>
  </div>
  <link href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/global.css"/>
  {{> analytics}}
</body>
</html>