{{!< layout.hbs }}
<h2 class="title">{{title}}</h2>
<date>{{date page.date "D MMM YYYY"}}</date>
<section class="post">
  {{{contents}}}
</section>

<section class="social">
  {{> social}}
</section>

{{> pagination}}

{{! Only have disqus show up when we're live }}
{{~#is env.mode "build"}}
<section class="comments">
  {{> comments}}
</section>
{{~/is}}