@import "variables.css";
@import "fonts.css";
@import "icons.css";
@import "layout.css";
@import "nav.css";
@import "code.css";
@import "posts.css";
@import "util.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: 3px solid var(--focus-ring-color);
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--sans-serif-font), sans-serif;
  background-color: var(--background-color);
  line-height: 1.4;
  font-size: var(--base-font-size);
  color: var(--text-color);
}

a,
a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  /*color: rgba(var(--link-color-rgb), .8);*/
  text-decoration: underline;
  text-decoration-color: rgba(var(--accent-color-rgb), .65)
}

ul {
  margin: 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

blockquote {
  margin: 0;
  padding: var(--padding-xx) var(--padding-xxx);
  font-size: calc(var(--base-font-size) - 2px);
  background-color: rgba(0, 0, 0, .2);
  border-left: 5px solid rgba(0, 0, 0, .5);
  > p {
    margin: 0;
  }
}

.anchor-link {
  &:before {
    content: '#';
    display: inline-block;
    min-width: 1.5rem;
    text-align: center;
  }
  &:focus {
    clip: inherit;
    height: auto;
    width: auto;
  }
}

.button-link {
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:hover .anchor-link {
    clip: inherit;
    height: auto;
    width: auto;
  }
}

button {
  cursor: pointer;
}

.swatch {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.swatch + .swatch {
  margin-top: .25em;
}

.skip-link:focus {
  clip: initial;
  height: auto;
  width: auto;
  top: 1rem;
  left: 1rem;
  background-color: var(--background-color);
}

.swatch:before {
  content: "";
  height: 1em;
  width: 1em;
  border-radius: .2em;
  margin-right: var(--padding-xx);
  display: inline-block;
  border: 1px solid var(--text-color);
  background-color: var(--swatch-color);
}

/*
.tooltip[aria-label] {
  position: relative;
  display: inline-block;
}

.tooltip[aria-label]:hover,
.tooltip[aria-label]:focus {
  &:before,
  &:after {
    position: absolute;
    left: 50%;
    pointer-events: none;
  }
  &:before {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--link-color);
    transform: translateX(-50%);
    top: 100%;
  }
  &:after {
    content: attr(aria-label);
    display: block;
    border-radius: 4px;
    background-color: var(--link-color);
    padding: var(--padding-x) var(--padding-xx);
    color: var(--background-color);
    font-size: calc(var(--base-font-size) - 4px);
    transform: translateX(-50%) translateY(5px);
    white-space: pre;
  }
}*/